@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Titillium+Web:wght@400;600&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: large;
    margin: 0px
}

.crumb {
    margin: 1rem;
    display: inline;
    text-align: center;
}

a {
    color: white;
}

p {
    margin: 10px 0px;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 75px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    text-shadow: 2px 2px black;
    color: white;
}

h2 {
    font-size: x-large;
    color: rgb(18, 26, 235);
}

h3 {
    color: rgb(142, 10, 208);
    margin: 20px 0px 0px 0px;
    font-size: 22px;
}

ol {
    padding: 10px;
    align-items: right;
    margin: 30px;
}

#aboutMe {
    padding-left: 15px;
}

.informationSection {
    background-color: rgba(255, 255, 255, 0.983);
    margin: 50px 40px;
    padding: 15px;
}

.projectText {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 25px auto auto
}

.projectFlex {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.horizonalList {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-top: 10px;
}

ul {
    padding-inline-start: 0px;
    padding-inline-end: 40px;
}

.black {
    color: black;
}